/* Write your CSS here */
.item-container {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}

.delete-btn {
  background-color: transparent;
  color: #ff0b37;
  border-radius: 8px;
  border-width: 1px;
  border-color: #ff0b37;
  font-size: 8px;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
  cursor: pointer;
  outline: none;
}
